{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}

<div class="gradient-header-bg products-header">
    <header class="container">
        <div class="row">
        </div>
    </header>
</div>

<div class="container main-form">
    <div class="row">
        <div class="col-sm-12 orders-col">

            <div class="order-overview">
                <h1 id="orders-title">All Orders:</h1>
                {% if session.get('error_message') %}
                <div class="alert alert-danger">

                    {{session.get('error_message')}}

                </div>
                {% set _ = session.pop('error_message', None) %}
                {% endif %}
                {% if session.get('status_message') %}
                <div class="alert alert-success">


                    {{session.get('status_message')}}

                </div>
                {% set _ = session.pop('status_message', None) %}
                {% endif %}

                <form method="get" action="{{ url_for('admin_orders') }}">
                    <select name="status" onchange="this.form.submit()">
                        <option value="" {% if not current_status %}selected{% endif %}>All</option>
                        <option value="Pending" {% if current_status == "Pending" %}selected{% endif %}>Pending</option>
                        <option value="Shipped" {% if current_status == "Shipped" %}selected{% endif %}>Shipped</option>
                        <!-- Add other statuses as needed -->
                    </select>
                </form>

                <div id="orders-display">
                    {%for order in orders%}
                    <div class="orders-item" id="{{order['_id']}}">
                        <div class="orders-item-info">
                            <a href="/single_order?order_id={{order['_id']}}">
                                <h2>Order: {{order['_id']}}</h2>
                            </a>
                            <p>Price: ${{'%0.2f'|format(order['total'])}}</p>
                            <p>Date made: {{order['date']}}</p>
                            <p id="{{order['_id']}}-status">Status: {{order['status']}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <div id="pagination">
                {% if page > 1 %}
                <a href="{{ url_for('admin_orders', page=page-1) }}" class="btn btn-primary">Previous</a>
                {% endif %}
            
                Page {{ page }} of {{ total_pages }}
            
                {% if page < total_pages %}
                <a href="{{ url_for('admin_orders', page=page+1) }}" class="btn btn-primary">Next</a>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}