{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}

<div class="gradient-header-bg products-header">
    <header class="container">
        <div class="row">
        </div>
        <div class="container main-form">
    </header>
</div>


<div class="row">
    <div class="col-sm-12 cart-col">
        <div id="cart-form">
            {% if session.get('error_message') %}
            <div class="alert alert-danger">
                <ul>
                    <div> An Error has occurred. Please check below for the relevant errors:</div>

                    {% for error_message in session.get('error_message') %}
                    <li>{{ error_message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% set _ = session.pop('error_message', None) %}
            {% endif %}



            <!-- if session cart is empty, prompt user to add product to cart and provide a button to homepage -->
            {% if not session.get('cart') or session.get('cart') == [] %}
            <div class="empty-cart">
                <h2>Your cart is empty</h2>
                <a href="/"><button type="button" class="btn btn-primary"> Add Products to your cart</button></a>
            </div>

            <!-- else, render the cart and checkout button -->
            {% else %}
            <h1>Cart</h1>
            {% for product in products %}
            <div class="cart-item">
                <div class="cart-img-mask">
                    <a href="/product?id={{ product['product_id'] }}" class="product-link">
                        <img src="{{ product['product_image'] }}" alt="{{ product['product_name'] }}">
                    </a>
                </div>
                <div class="cart-item-info">
                    <a href="/product?id={{ product['product_id'] }}" class="product-link">
                        <h2>{{ product.product_name }}</h2>
                    </a>
                    <p>Price: ${{product.product_price}}</p>
                    <p>Quantity: {{product.product_quantity }}</p>
                </div>
                <div class="cart-remove-button">
                    <form id="cart-remove-button" method="post" action="/remove_from_cart">
                        <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                    <!-- <a href=""><i class="fa-solid fa-x"></i></a> -->
                </div>
                </a>
            </div>
            {% endfor %}
            <div class="cart-subtotal">
                <div>
                    <h2>Subtotal:</h2>
                    <p>${{ subtotal }}</p>
                </div>
            </div>

            <form method="post" action="/order">
                <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
            {% endif %}
        </div>

    </div>
</div>
</div>
{% endblock %}