{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}

<div class="gradient-header-bg products-header">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{categoryName}}</h1>
            </div>
        </div>
    </header>
    </div>
    
    <!-- Iterate through the products to display them -->
    <div class="container products">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3">
                <a href="/product?id={{ product['product_id'] }}" class="product-link">
                    <div class="product-item">
                        <div>
                            <h3>{{ product['product_name'] }}</h3> <!-- Product Name -->
                        </div>
                        <div class="product-image"> <!-- Wrap the image with a div -->
                            <img src="{{ product['product_image'] }}" alt="product"> <!-- Product Image URL with inline CSS -->
                        </div>
                        <div class="price-section">
                            <p><span>$</span>{{ product['product_price'] }}</p> <!-- Product Price -->
                            <p><i class="fa-solid fa-star"></i> {{ product['product_rating'] }}</p>
                            <button class="btn btn-primary" href="/product?id={{ product[0] }}" role="button">Shop Now</button>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="row product-pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page is defined and page > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('category', category=category_id, page=page-1) }}">Previous</a></li>
                {% endif %}

                {% for i in range(start_page, end_page + 1) %}
                    <li class="page-item {% if i == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('category', category=category_id, page=i) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if page is defined and page < total_pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('category', category=category_id, page=page+1) }}">Next</a></li>
                {% endif %}

                <form method="GET" action="{{ url_for('category') }}" class="form-inline d-flex align-items-center">
                    <input type="hidden" name="category" value="{{ category_id }}">
                    <label for="pageDropdown" class="ml-2 mr-2">Page:</label>
                    <select class="form-control" id="pageDropdown" name="page" onchange="this.form.submit()">
                        {% for i in range(1, total_pages + 1) %}
                            <option value="{{ i }}" {% if i == page %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </form>
            </ul>
        </nav>
    </div>
    
    <div class="row category-subcategory">
        <div class="title-container">
        <h2>Sub-categories</h2>
        <a href="/subcategories">See all  ></a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='apparel.png')}}" alt="apparel">
            <span>Apparel</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='beauty.png')}}" alt="apparel">
            <span>Beauty</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='instruments.png')}}" alt="apparel">
            <span>Instruments</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='home-appliances.png')}}" alt="apparel">
            <span>Home appliances</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='furniture.png')}}" alt="apparel">
            <span>Furniture</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='stationery.png')}}" alt="apparel">
            <span>Stationery</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='toys.png')}}" alt="apparel">
            <span>Toys</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='kitchen.png')}}" alt="apparel">
            <span>Kitchen</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='travel.png')}}" alt="apparel">
            <span>Travel</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='footwear.png')}}" alt="apparel">
            <span>Footwear</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='smartwatch.png')}}" alt="apparel">
            <span>Smartwatch</span>
            </a>
        </div>
        <div class="category-item col-sm-2">
            <a href="#">
            <img src="{{url_for('static', filename='smartphone.png')}}" alt="apparel">
            <span>Smartphone</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}