{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}

<div class="gradient-header-bg products-header">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>All Categories</h1>
            </div>
        </div>
    </header>
    </div>
    
    <div class="container categories">
        <div class="row">
            {% for category in categories %}
            <div class="category-item col-sm-2">
                <a href="/category?category={{ category.id }}">
                    <img src="{{ category.image }}" alt="{{ category.name }}">
                    <span>{{ category.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
        
</div>
<div class="row product-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('categories', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('categories', page=p) }}">{{ p }}</a>
                </li>
            {% endfor %}

            {% if page < total_pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('categories', page=page+1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}