{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
 $( document ).ready(function() {
    var deleteButtons = document.getElementsByClassName("delete-order-button");

    for(i=0 ; i < deleteButtons.length;i++ ){
        deleteButtons[i].addEventListener("click",function(){
            event.preventDefault();
            if(document.getElementsByClassName("alert").length>0){
                document.getElementsByClassName("alert")[0].remove();
            }
            var deletedOrder=event.currentTarget.getAttribute("orderid");
            console.log(deletedOrder);
            fetch('/cancel_order_ajax', {
                method:"POST",
                body:JSON.stringify({'deletedOrderId':deletedOrder}),
                headers:{
                    'Content-Type':'application/json',
             }
            }).then(response => response.json())
            .then(html =>{
                successMessage=  document.createElement("div"); 
                successMessage.appendChild(document.createTextNode(html.response_message));
                successMessage.classList.add("alert");
                successMessage.classList.add("alert-success");
                document.getElementById('orders-title').insertAdjacentElement( 'afterend', successMessage)
                console.log(html.order_id)
                if (html.order_id!=-1){
                    document.getElementById(html.order_id + "-status").innerText ="Status: cancelled";
                }
                
                });
        });


    };






 })
</script>



<div class="gradient-header-bg products-header">
    <header class="container">
        <div class="row">
        </div>
    </header>
</div>
    
    <div class="container main-form">
        <div class="row">
            <div class="col-sm-12 orders-col">
                
                <div class="order-overview">
                    <h1 id="orders-title">Your Orders:</h1> 
                    {% if session.get('error_message') %}
                    <div class="alert alert-danger">
                       
                            {{session.get('error_message')}}
                          
                    </div>
                    {% set _ = session.pop('error_message', None) %}
                    {% endif %}
                    {% if session.get('status_message') %}
                    <div class="alert alert-success">
                        
        
                            {{session.get('status_message')}}
                           
                    </div>
                    {% set _ = session.pop('status_message', None) %}
                    {% endif %}
        
        
                    <div id="orders-display">


                        {%for order in orders%} 
                        <div class="orders-item" id="{{order['_id']}}">
                            <div class="orders-item-info">
                                <a href="/single_order?order_id={{order['_id']}}"><h2>Order: {{order['_id']}}</h2></a>
                                <p>Price: ${{'%0.2f'|format(order['total'])}}</p>
                                <p>Date made: {{order['date']}}</p>
                                <p>Arrival Date: {{order['arrival_date']}}</p>
                                <p id="{{order['_id']}}-status">Status: {{order['status']}}</p>
                            </div>
                            {% if order['status'] == 'pending'%}
                            <div class="orders-remove-button">
                                <a href="#" orderid="{{order['_id']}}" class="delete-order-button"><i class="fa-solid fa-x"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        {%endfor%} 
                          
                    </div>
                </div>

            </div>
        </div>     
    </div>
{% endblock %}