{% extends "base.html" %}
{% block title %}Congo.db{% endblock %}
{% block content %}

<div class="gradient-header-bg dashboard-header">
<header class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1> {{ session['user_name'] }}'s Dashboard</h1>
        </div>
    </div>
</header>
</div>
  
    <!-- Iterate through the products to display them -->
    <div class="container dashboard">
        <div class="row">
            <div class="col-sm-6">
                <div class="dashboard-item">
                    <h2>Recent Orders</h2>
                    <table>
                        <tr>
                            <th>Order Name</th>
                            <th>Order date</th>
                            <th>Total Cost</th>
                        </tr>

                        {% for i in range(0,5)%}
                        {% if recentOrderList[i]%}
                        <tr>
                            <td><a href="/single_order?order_id={{recentOrderList[i]['_id']}}">{{recentOrderList[i]['_id']}}</a></td>
                            <td>{{recentOrderList[i]['date']}}</td>
                            <td>${{'%0.2f'|format(recentOrderList[i]['total'])}}</td>
                        </tr>
                        {% else%}
                        <tr>
                            <td>no data</td>
                            <td>no data</td>
                            <td>no data</td>
                        </tr>
                        {%endif%}

                        {%endfor%}
                    </table>
                    <!--<button class="btn btn-primary" href="/orders" role="button">View All Orders</button>-->
                </div>
            </div>

            <div class="col-sm-6">
                <div class="dashboard-item">
                    <h2>Favourite items</h2>
                    <table>
                        <tr>
                            <th>Product Name</th>
                            <th>Number ordered</th>
                            <th>Cost</th>
                        </tr>
                       
                        {% for i in range(0,5)%}
                        {% if sortedProductQuantityList[i]%}
                        <tr>
                            <td><a href="/product?id={{sortedProductQuantityList[i][0]}}">{{sortedProductQuantityList[i][1][0]}}</a></td>
                            <td>{{sortedProductQuantityList[i][1][1]}}</td>
                            <td>${{'%0.2f'|format(sortedProductQuantityList[i][1][2]|float)}}</td>
                        </tr>
                        {% else%}
                        <tr>
                            <td>no data</td>
                            <td>no data</td>
                            <td>no data</td>
                        </tr>
                        {%endif%}

                        {%endfor%}


                    </table>
                </div>

            </div>


            <div class="col-sm-6">
                <div class="dashboard-item">
                    <h2>Orders Arriving Soon</h2>
                    <table>
                        <tr>
                            <th>Order Name</th>
                            <th>Order date</th>
                            <th>Arrival Date</th>
                        </tr>

                    

                        {% for i in range(0,5)%}
                        {% if arrivingOrderList[i]%}
                        <tr>
                            <td><a href="/single_order?order_id={{arrivingOrderList[i]['_id']}}">{{arrivingOrderList[i]['_id']}}</a></td>
                            <td>{{arrivingOrderList[i]['date']}}</td>
                            <td>{{arrivingOrderList[i]['arrival_date']}}</td>
                        </tr>
                        {% else%}
                        <tr>
                            <td>no data</td>
                            <td>no data</td>
                            <td>no data</td>
                        </tr>
                        {%endif%}

                        {%endfor%}
                      

                    </table>
                    <!--<button class="btn btn-primary" href="/orders" role="button">View All Orders</button>-->
                </div>
            </div>
        

            <div class="col-sm-6">
                <div class="dashboard-item">
                    <h2>Shipped Orders</h2>
                    <table>
                        <tr>
                            <th>Order Name</th>
                            <th>Order Date</th>
                            <th>Arrival Date</th>
                        </tr>

                        {% for i in range(0,5)%}
                        {% if shippedOrderList[i]%}
                        <tr>
                            <td><a href="/single_order?order_id={{shippedOrderList[i]['_id']}}">{{shippedOrderList[i]['_id']}}</a></td>
                            <td>{{shippedOrderList[i]['date']}}</td>
                            <td>{{shippedOrderList[i]['arrival_date']}}</td>
                        </tr>
                        {% else%}
                        <tr>
                            <td>no data</td>
                            <td>no data</td>
                            <td>no data</td>
                        </tr>
                        {%endif%}

                        {%endfor%}

                    </table>
                    <!--<button class="btn btn-primary" href="/orders" role="button">View All Orders</button> -->
                </div>
            </div>
          

            <div class="col-sm-12">
                <div class="dashboard-item">
                    <h2>Monthly Spending</h2>
                    {% autoescape off %}
                    
                    {{expenditureChartHTML}}

                    {% endautoescape %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="dashboard-item">
                    <h2>Lifetime Expenditure</h2>
                    <P class=" dashboard-stat"><span>$</span> {{'%0.2f'|format(totalExpenditure)}}</P>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dashboard-item">
                    <h2>Most Expensive Order</h2>
                    <P class=" dashboard-stat"><span>$</span> {{'%0.2f'|format(maxTotal)}}</P>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dashboard-item">
                    <h2>Total items ordered</h2>
                    <P class=" dashboard-stat"> {{totalQuantity}} <span>items</span></P>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="dashboard-item">
                    <h2>Number of Orders per Month</h2>
                    {% autoescape off %}
                    
                    {{orderNumberChartHTML}}

                    {% endautoescape %}
                </div>
            </div>

        </div>
    </div>


    

{% endblock %}