
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebeb;
}


.hidden{
    display:none;
}

h2,h1,h3,h4,.nav-link,.dropdown a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
}

.nav-link:hover{
    color: #1d9abc;
}

.home-cta h1{
    font-size:55px;
}

h1{
    font-size:38px;
}


h3{
    font-size:21px;
}

h2{
    font-size:30px;
}

h4{
    font-size:20px;
    font-style: normal;
    color: #2B7A78;
}

.dropdown-menu{
    border:none;
    background-color: #feffff;
}

.nav-holder{
    position:sticky;
    top:0;
    z-index: 9999;
    background-color: #feffff;
}

a{
    color:#1d9abc;
}

a:hover{
    color:#17252A;
}

p,a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

.nav-link{
    padding:5px 10px;
    color:#17252A;
    font-size: 18px;
}

.navbar-brand{
    max-width:180px;
}

.navbar-brand img{
    max-width:100%;
    height:auto;
}

.split-menu{
    display: flex;
}

.split-menu li{
    margin:10px;
}

.split-menu a{
    color:#17252A;
}

footer .row{
    padding-bottom:20px;
}

.row{
    padding:40px 20px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar-brand{
    max-width:180px;
}

.navbar-brand img{
    max-width:100%;
    height:auto;
}

.split-menu{
    display: flex;
}

.split-menu li{
    margin:10px;
}

.split-menu a{
    color:#17252A;
}

.split-menu .divider{
    background-color:  #17252A;
    width:1px;
}

nav{
    max-width: 1200px;
    margin:0 auto;
}

footer{
    background-color: #111f2a;
    justify-content: space-between;
}

footer p{
    font-size:15px;
    margin-bottom:5px;
}

.footer-logo{
    width:100%;
    height:auto;
    margin-left: -5px;
    margin-right: 5px;
    max-width: 200px;
    margin-bottom: 20px;
}

footer .copyright{
     border-top: 1px solid #333;/* Gray border */
     font-size:.9em;
     padding:20px;
     text-align: left;
     margin-bottom:0;
     margin-top: 20px;
     display: block;
     width: 100%;
}

.footer-social-menu{
    display: flex;
    margin-top: 15px;
}

.footer-social-menu li a{
    padding:8px 10px;
    border-radius: 30px;
    width:15px;
    height:15px;
    background-color: #fff;
}

.footer-social-menu li i{
    width:15px;
    height:15px;
}

footer li{
    margin-right:10px;
    list-style: none;
}

footer ul{
    padding:0;
}

.home-cta-banner{
    position:relative;
    display:flex;
    padding:20px;
    align-items: center;
    overflow: hidden;
}

.home-cta{
    border-radius: 3px;
}


.footer-social-menu li i:hover{
   color:#fff;
   background-color: #fff;
}

.footer-social-menu li:hover a{
    background-color: #3aafa9;
}

.gradient-header-bg{
    background: rgb(235,235,235);
    background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(29,154,188,1) 38%, rgba(19,57,88,1) 92%);
    width:100%;
}

.home.gradient-header-bg{
    height:500px;
}

.home-cta{
    padding:60px 20px;
    display:flex;
    position:absolute;
    /*background-color: #fff;*/
    width:50%;
    z-index:999;
}

.home-cta-carousel,.about-cta-image{
    margin-left:40%;

}

header h1{
    color:#fff;
}

footer p{
    color:#fff;
}

footer h3{
    font-size:20px;
    font-style: normal;
    color: #1d9abc;
}

.upper-nav a{
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-left:20px;
    font-size:14px;
}

.upper-nav{
    background-color: #111f2a;
}

.upper-nav .row{
    padding:7px 0;
    flex-direction: row-reverse;
    justify-content: end;

}

.search-input{
    width:100%;
    margin-left:10px;
    flex:1;
    font-size:14px;
    border-radius: 20px;
}

.search-form label{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    font-weight: 700;
}

.search-form button{
    border-radius: 20px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size:14px;
    border:1px #1d9abc;
    color:#fff;
    padding: 7px 20px;
    background: rgb(235,235,235);
    background: linear-gradient(45deg, rgba(29,154,188,1) 0%, rgba(19,57,88,1) 92%);
}

.btn{
    border-radius: 20px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size:16px;
    border:1px #1d9abc;
    color:#fff;
    padding: 7px 20px;
    background: #111f2a;
}

.nav-link{
    text-wrap: nowrap;
}

.navbar-nav{
    margin-left:20px;
}

.search-form,.search-form form{
    width:100%;
}

.home-cta-carousel img{
    height: 100%;
    max-height:400px;
    width:auto;
}

.category-item img,.product-item img,.product-info img{
    width:100%;
    object-fit: contain;
}

.category-item img{
    height: 130px;
    margin-bottom:15px;
}

.product-item img{
    padding:0 15px;
}

.category-item{
    text-align: center;
    padding:20px;
}

.product-item span{
    font-size:12px;
}

.product-item i{
    color:#1d9abc;
    margin-right: 5px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding:0 20px 20px 20px;
}

.home-categories .title-container{
    padding:0 20px 20px 20px;
}

footer .row {
    padding-top: 50px;
}

.home-categories .row, .category-subcategory, .categories .row{
    background:#fff;
    padding: 30px 20px;
}

.category-item:hover{
    background-color: #fbfbfb;
}

.categories{
    margin-top: -90px;
    margin-bottom: 60px
}

.category-subcategory{
    margin-bottom:60px;
}

.home-categories{
    margin-top:-40px;
    margin-bottom:40px;
}

.product-item{
    margin:15px 0;
}

.product-link{
    background:#fff;
    display:block;
    color: #111f2a;
}

.product-link:hover{
    text-decoration: none;
    color: #17252A;
    background:#fbfbfb;
}

.product-item:hover{
    background:#fefefe;
}

.product-item div{
    padding:15px;
}

.product-image img {
    height: 200px;
}

/* Style for the active page link */
.pagination .page-item.active .page-link {
    color: #ffffff; /* Text color for active link */
    background-color: #1d9abc; /* Background color for active link */
}

/* Style for non-active page links */
.pagination .page-item .page-link {
    color: #1d9abc; /* Text color for non-active link */
}

.price-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.price-section p{
    flex-basis:50%;
 }

 .price-section p:nth-child(2){
    text-align: right;
 }
 

.product-item h3{
    height:2.5em;
    overflow:hidden;
    text-overflow: ellipsis;
}

.home-cta-container p{
    color:#fff;
}

.products-header .row{
    padding:80px 20px 120px 20px;
}

.products,.product-content,.search-result{
    margin-top:-130px;
}

.product-pagination{
    padding-top:0;
}

.pagination{
    border-radius: 0;
    border:none;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:none;
}


.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:none;
}

.page-link{
    border-top:none;
    border-bottom:none;
}

.product-info,.product-reviews,.product-action{
    background: #fff;
    padding:30px;
    padding-bottom:40px;
}

.product-review{
    padding:20px 0;
    border-bottom:2px solid #ebebeb;
}

.product-info img{
    max-height:400px;
}

.product-content .row{
    padding-bottom:0;
}

.product-categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-categories div {
   flex:1;
   padding:10px 0;
}

#order-form h2{
    flex-basis:100%;
}

#order-form div{
    margin-top:20px;
}

#order-form label{
    justify-content: left;
    width:100%;
}

#order-form input[type=number]{
    margin-bottom:20px;
}

.breadcrumb {
    background-color: #fff;;
}



.product-review i{
    margin-right:5px;
}

.product-info h1{
    font-size:42px;
    margin-bottom:40px;
}

#order-form .btn{
    background: rgb(235,235,235);
    background: linear-gradient(45deg, rgba(29,154,188,1) 0%, rgba(19,57,88,1));
}

.sticky{
    position:sticky;
    top: 150px;
    left:0;
    z-index: 998;
}

.product-reviews{
    margin:40px 0 60px 0;
}

#review-form .form-group, #review-form, #filter-form{
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    flex-basis: 100%;
}

#review-form .form-group{
    margin:20px 0;
}

#review-form .form-group textarea{
    width:100%; 
}

ol.breadcrumb{
    padding: 0;
}

.order-info{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.order-info div{
    flex:1;
}

.filter-container{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:15px 0;
}

#filter-form{
    padding:20px;
    background-color: #fff;
    margin:0;
}

#filter-form h2{
    font-size: 20px;
}

.filter-container .filter-input{
    flex:1;
    display: flex;
    margin-right: 20px;
}

.filter-container label{
    margin-right: 20px;
}

.filter-row{
    padding-bottom:0;
}

#login-form,#signup-form{
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    margin: -130px auto 0 auto;
}

#cart-form, #order-info-form, .order-overview{
    max-width: 800px;
    padding: 30px;
    background-color: #fff;
    margin: -130px auto 0 auto;
}


.rating-stars{
    display:flex;
}

.rating-stars input[type="radio"]{
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.rating-stars label{
    margin-right:10px;
}

.star-selected i,.star-selected{
     color:#1d9abc;
}

.product-review div{
    display:flex;
    justify-content: space-between;
}

.search-row{
    padding-top: 20px;
}

.cart-item , .cart-subtotal div, .order-item , .order-subtotal div,.orders-item , .orders-subtotal div{
    display:flex;
    justify-content: space-between;
    padding:20px;
    
}

.cart-item,.cart-subtotal, .order-item,.order-subtotal ,.orders-item,.orders-subtotal{
    border-bottom:2px solid #ebebeb;
     margin-bottom: 20px;
}

.cart-item img,.order-item img{
    object-fit: contain;
    width:100%;
    height:auto;
}

.cart-item .cart-img-mask,.order-item .order-img-mask{
    width:150px;
    height: 150px;
    overflow:hidden;
}

.cart-item-info,.order-item-info,.orders-item-info{
    margin: 0px 20px;
    flex:1;
}

.cart-item-info p, .order-item-info p{
    margin: 0 0 10px;
}

.cart-item-info h2, .order-item-info h2,.orders-item-info h2{
    font-size: 21px;
    margin: 0 0 20px;
}

.cart-subtotal h2,.order-subtotal h2,.orders-subtotal h2{
    font-size: 18px;
}

.cart-item-info a,.order-item-info a,.orders-item-info a{
    color: #111f2a;
}

.cart-subtotal div, .order-subtotal div{
    padding:0;
}

.order-button-group .btn{
    margin-right: 20px;
}

.cart-subtotal,.order-subtotal{
    margin-bottom:40px;
}

.orders-item-info{
    margin-left:0;
}

.orders-item-info p{
    margin:0 0 5px 0;
}


@media (max-width: 992px) {
    h1{
        font-size:32px;
    }
    
    h3{
        font-size:21px;
    }
    
    h2,.reset-section h4,.reset-section h1{
        font-size:36px;
    }
    
    h4,footer h3{
        font-size:20px;
    }
    
    .container {
        max-width: 900px;
    }

    .sticky{
        position:relative;
        top:0;
        left: 0;
        margin-top:20px;
    }

    #order-form .form-group{
        max-width: 50%;
    }

    #order-form div{
        width:100%;
    }
    
    #order-form{
    display: inline-block;
    width: 100%;
    }
}


@media (min-width: 576px) {
    .split-nav{
        justify-content: space-between;
    }
    
    .search-input{
        width:100%;
    }

    .user-logged{
        display:inline-block;
    }
    
}

@media (max-width: 576px) {
    h1{
        font-size:30px;
    }

    h2,.reset-section h4,.reset-section h1{
        font-size:28px;
    }

    h4, footer h3{
        font-size:20px;
    }
    .home-cta,.about-cta{
    padding: 20px 20px;
    }

    .home-cta-carousel img{
        height: 100%;
        width:auto;
    }

    footer .row {
        padding-top: 40px;
    }

    .footer-logo {
        max-width: 200px;
    }
}
